In [29]:
#dependencies
import pandas as pd
from pathlib import Path

In [30]:
election_data = Path("Resources/election_data.csv")
election_df = pd.read_csv(election_data)
election_df.tail()

        Ballot ID    County             Candidate
369706    4714953  Arapahoe  Raymon Anthony Doane
369707    4497542  Arapahoe  Raymon Anthony Doane
369708    4085849  Arapahoe  Raymon Anthony Doane
369709    4592018  Arapahoe  Raymon Anthony Doane
369710    4660518  Arapahoe  Raymon Anthony Doane

In [31]:
#The total number of votes cast
TotalVotes = len(election_df)
print(f'Total Votes: {TotalVotes}')

Total Votes: 369711

In [32]:
#A complete list of candidates who received votes
Candidates = election_df["Candidate"].unique()
Candidates

array(['Charles Casper Stockham', 'Diana DeGette', 'Raymon Anthony Doane'],
      dtype=object)

In [33]:
#The percentage of votes each candidate won
election_df.loc[election_df["Candidate"]=='Charles Casper Stockham']

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
353207    4142285   Arapahoe  Charles Casper Stockham
353208    4727490   Arapahoe  Charles Casper Stockham
353209    4692135   Arapahoe  Charles Casper Stockham
353210    4143236   Arapahoe  Charles Casper Stockham
353211    4827189   Arapahoe  Charles Casper Stockham

[85213 rows x 3 columns]