In [162]:
#dependencies
import pandas as pd
from pathlib import Path

In [163]:
budget_file = Path("Resources/budget_data.csv")
budget_df = pd.read_csv(budget_file)
budget_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [164]:
TotalMonths = len(budget_df["Date"])
print(f"Total Months: {TotalMonths}")

Total Months: 86

In [165]:
NetTotal = budget_df["Profit/Losses"].sum()
print(f"Total: ${NetTotal}")

Total: $22564198

In [166]:
Diff_df = budget_df["Profit/Losses"].diff()
Average = Diff.mean()
print(f"Average Change: ${Average}")
Diff_df

Average Change: $-8311.105882352942

0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64

In [167]:
MaxInc = Diff_df.max()
print(f"Greatest Increase in Profits: ${MaxInc}")

Greatest Increase in Profits: $1862002.0

In [168]:
MaxDec = Diff_df.min()
print(f"Greatest Decrease in Profits: ${MaxDec}")

Greatest Decrease in Profits: $-1825558.0

In [191]:
merged_df = pd.merge(Date, Diff_df, how='left', on=Date)
merged_df.head()

    key_0    Date  Profit/Losses
0  Jan-10  Jan-10            NaN
1  Feb-10  Feb-10     -1443517.0
2  Mar-10  Mar-10       631156.0
3  Apr-10  Apr-10     -1004755.0
4  May-10  May-10      1581126.0

In [181]:
merged_df["Date"] == MaxInc

0     False
1     False
2     False
3     False
4     False
      ...
81    False
82    False
83    False
84    False
85    False
Name: Date, Length: 86, dtype: bool

In [185]:
merged_df.loc[merged_df["Date"],:]

KeyError: "None of [Index(['Jan-10', 'Feb-10', 'Mar-10', 'Apr-10', 'May-10', 'Jun-10', 'Jul-10',\n       'Aug-10', 'Sep-10', 'Oct-10', 'Nov-10', 'Dec-10', 'Jan-11', 'Feb-11',\n       'Mar-11', 'Apr-11', 'May-11', 'Jun-11', 'Jul-11', 'Aug-11', 'Sep-11',\n       'Oct-11', 'Nov-11', 'Dec-11', 'Jan-12', 'Feb-12', 'Mar-12', 'Apr-12',\n       'May-12', 'Jun-12', 'Jul-12', 'Aug-12', 'Sep-12', 'Oct-12', 'Nov-12',\n       'Dec-12', 'Jan-13', 'Feb-13', 'Mar-13', 'Apr-13', 'May-13', 'Jun-13',\n       'Jul-13', 'Aug-13', 'Sep-13', 'Oct-13', 'Nov-13', 'Dec-13', 'Jan-14',\n       'Feb-14', 'Mar-14', 'Apr-14', 'May-14', 'Jun-14', 'Jul-14', 'Aug-14',\n       'Sep-14', 'Oct-14', 'Nov-14', 'Dec-14', 'Jan-15', 'Feb-15', 'Mar-15',\n       'Apr-15', 'May-15', 'Jun-15', 'Jul-15', 'Aug-15', 'Sep-15', 'Oct-15',\n       'Nov-15', 'Dec-15', 'Jan-16', 'Feb-16', 'Mar-16', 'Apr-16', 'May-16',\n       'Jun-16', 'Jul-16', 'Aug-16', 'Sep-16', 'Oct-16', 'Nov-16', 'Dec-16',\n       'Jan-17', 'Feb-17'],\n      dtype='object')] are in the [index]"