In [19]:
#dependencies
import pandas as pd
from pathlib import Path

In [36]:
budget_file = Path("Resources/budget_data.csv")
budget_df = pd.read_csv(budget_file)
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [55]:
TotalMonths = len(budget_df["Date"])
NetTotal = budget_df["Profit/Losses"].sum()
Diff_df = budget_df["Profit/Losses"].diff()
Average = round(Diff_df.mean(),2)
MaxInc = int(Diff_df.max())
MaxDec = int(Diff_df.min())
MaxDateInc = budget_df.loc[Diff_df == MaxInc,'Date']
MaxDateDec = budget_df.loc[Diff_df == MaxDec,'Date']

In [58]:
print("Financial Analysis")
print("---------------------------------------------")
print(f"Total Months: {TotalMonths}")
print(f"Total: ${NetTotal}")
print(f"Average Change: ${Average}")
print(f"Greatest Increase in Profits: {MaxDateInc} (${MaxInc})")
print(f"Greatest Decrease in Profits: {MaxDateDec} (${MaxDec})")

Financial Analysis
---------------------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: 79    Aug-16
Name: Date, dtype: object ($1862002)
Greatest Decrease in Profits: 49    Feb-14
Name: Date, dtype: object ($-1825558)

In [60]:
lines = ['Readme', 'Analysis Results','Financial Analysis',
'---------------------------------------------'
'Total Months: 86',
'Total: $22564198',
'Average Change: $-8311.11',
'Greatest Increase in Profits: 79    Aug-16 ($1862002)'
'Greatest Decrease in Profits: 49    Feb-14 ($-1825558)']

with open('readme.txt', 'w') as f:
    f.write('\n'.join(lines))